html, body {
	margin: 0;
	padding: 0;
	font-family: verdana, sans-serif;
	scroll-behavior: smooth;
	transition: all 3s ease-in-out;
}

.containerForHumburger {
	display: none;
	flex-direction: column;
	position: absolute;
	width: 100%;
}
.containerForItems-active {
	display: flex;
	/*width: 100vw;*/
	height: 250px;
	/*left: 50px;*/
	/*z-index: 100;*/
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	transition: all .5s ease-in-out;
	background: rgba(0, 0, 0, 0.91);
}
.containerForItems-active a{
	/*display: flex;*/
	/*width: 20vw;*/
	/*height: 200px;*/
	/*position: relative;*/
	/*left: 25px;*/
	/*transform: translateX(50px);*/
}
.humburgerBlock {
	height: 50px;
	width: 50px;
	margin-left: 10%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}
.hamburgerStripe {
	width: 80%;
	height: 15%;
	background: black;
	position: absolute;
	transition: all .5s ease-in-out;
}
.third {
	transform: translateY(15px);
}
.first {
	transform: translateY(-15px);
}
.first-active{
	transform: rotate(225deg) translateY(0);
	transform-origin: center;
	background: white;
}
.third-active {
	transform: rotate(-225deg) translateY(0);
	transform-origin: center;
	background: white;
}
.header {
	height: 70vh;
	background-size: cover;
	background: url("forest4_optimized.jpg") no-repeat fixed;
}
.innerhead {
	height: 100%;
	margin: 0 auto;
	max-width: 80vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	color: white;
}
#fp {
	margin: 0;
	font-size: 24px;
}
.hh {
	font-size: 50px;
}
.wrap {
	margin: 0 auto;
	width: 80vw;
}
.conttext {
	display: flex;
	justify-content: space-between;
}
.galtext {
	color: black;
	font-size: 2.5rem;
	height: 100px;
	line-height: 100px;
}
.galp {
	line-height: 35px;
	color: #8c8c8c;
}
.service {
	width: 100%;
	background: #3b045a;
	color: white;
}
.service-inner{
	min-height: 55vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.service-text {
	width: 50%;
	line-height: 25px;
}
.d-animation{
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.container-for-3D-layers{
	position: relative;
	width: 170px;
	height: 250px;
	transform: rotate(-30deg) skew(18deg);
}
.layers {
	width: 100%;
	height: 100%;
	display: flex;
	border-radius: 20px;
	overflow: hidden;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	font-size: 3rem;
	position: absolute;
	top: 0;
	left: 0;
	color: white;
	background: #080830;
	transition: all .5s ease-in-out;
}
.circkle-face-3d-lauers {
	width: 100%;
	height: 45%;
	/*border-radius: 50%;*/
	background: url("cat007.jpg");
	background-size: cover;
}
.container-for-3D-layers:hover .layers:nth-child(4){
	transform: translate(60px,-60px);
	opacity: 1;
}
.container-for-3D-layers:hover .layers:nth-child(3){
	transform: translate(40px,-40px);
	opacity: .75;
}
.container-for-3D-layers:hover .layers:nth-child(2){
	transform: translate(20px,-20px);
	opacity: .5;
}
.container-for-3D-layers:hover .layers:nth-child(1){
	opacity: .25;
}
.user-name {
	width: 100%;
	font-size: 1.3rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.user-password {
	width: 100%;
	font-size: 1.3rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.text-for-3d-layers {
	height: 55%;
	width: 80%;
	/*background: red;*/
	font-size: 1.7rem;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.fake-input {
	width: 70%;
	height: 20px;
	border: 3px solid white;
	font-size: 17px;
	line-height: 20px;
}
.footer {
	height: 60vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: white;
	align-items: center;
	background-image: url("forest_optimized.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.foottext a{
	text-decoration: none;
	color: white;
}
.button {
	width: 200px;
	height: 50px;
	font-size: 24px;
	text-align: center;
	line-height: 50px;
	margin-bottom: 15px;
	cursor: pointer;
}
.footerButton {
	width: 200px;
	height: 50px;
	color: white;
	border: 3px solid white;
	font-size: 24px;
	text-align: center;
	line-height: 50px;
	margin-bottom: 15px;
}
.footerButton:hover {
	color: black;
	background-color: white;
	transition: .5s ease all;
}
.foottext {
	margin: 10px 0;
	font-size: 14px;
}
.gallery {
    width: 80vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 35vh 35vh;
	/*display: flex;
	justify-content: center;*/
}
.team {
	background: #000016;
	width: 100%;
	min-height: 50vh;
	margin-top: 10vh;
}
.team-item {
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.face {
	width: 18vw;
	height: 18vw;
	border-radius: 50%;
	font-size: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	color: rgba(255, 255, 255, 0);
	transition: all .5s ease;
}
.face:hover {
	transform: scale(1.1);
	filter: grayscale(100%);
	/*opacity: 100%;*/
	color: white;
}
.rabit {
	background: url("rabit30.jpg");
	background-size: 110%;
}
.pig {
	background: url("свинья2.jpg");
	background-size: 120%;
}
.dog {
	background: url("dog007.jpg");
	background-size: cover;
}
.cat {
	background: url("cat007.jpg");
	background-size: cover;
}
.items {
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.wraper {
	margin: 0 auto;
	width: 80vw;
	height: 100%;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: center;
	color: white;
}
.image {
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.7);
	transition: all .5s ease-in-out;
}
.image:hover {
	position: relative;
	z-index: 50;
	transform: scale(1.1);
	box-shadow: 30px 30px 25px rgba(0, 0, 0, 0.7);
}
.imageses{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
/*.second {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.first {
	display: flex;
	justify-content: center;
}*/
.menu {
	margin: 0 auto;
	min-height: 50px;
	width: 80vw;
	display: flex;
	justify-content: space-between;
	transition: all .5s ease-in-out;
}
.menuItem a{
	display: block;
	text-decoration: none;
	font-size: 1.6rem;
	line-height: 8vh;
	color: dimgrey;
}
.menuItem a:hover {
	color: black;
	transition: all .7s ease;
}
/*#toggle {*/
	/*display: none;*/
/*}*/
/*#test {*/
    /*height: 100px;*/
    /*width: 100px;*/
    /*background: #aaffd1;*/
/*}*/
.menuItem {
	display: flex;
	width: 100%;
	justify-content: space-between;
}
.travel img{
	width: 30vw;
}
.travel p{
	font-size: 1.3rem;
}

@media screen and (max-width: 800px) and (min-width: 601px){
	.service-text{
		width: 100%;
	}
	.service-inner{
		min-height: 50vh;
		display: flex;
		flex-direction: column;
	}
	.gallery {
		grid-template-columns: 1fr 1fr;
    	grid-auto-rows: 35vh 35vh 35vh 35vh;
	}
	.items {
		flex-wrap: wrap;
		justify-content: space-around;
	}
	.face {
		width: 30vw;
		height: 30vw;
	}
	.conttext {
		display: flex;
		justify-content: space-between;
		flex-direction: column;
	}
	.travel img{
		width: 50vw;
	}
	.hambBlock {
		display: flex;
	}
}
@media screen and (max-width: 600px){
	.service-text{
		width: 100%;
	}
	.service-inner{
		min-height: 50vh;
		display: flex;
		flex-direction: column;
	}
	.gallery {
		grid-template-columns: 80vw;
    	grid-auto-rows: 40vh 40vh 40vh 40vh 40vh 40vh 40vh 40vh;
	}
	.conttext {
		display: flex;
		justify-content: space-between;
		flex-direction: column;
	}
	.containerForHumburger{
		display: flex;
	}
	.menuItem{
		display: none;
		width: 0;
		height: 0;
	}
	.menu {
		width: 100%;
		margin: 0px;
		justify-content: center;
	}
	.travel {
		padding: 20px 0;
		font-size: 20px;
	}
	.travel img{
		width: 80vw;
	}
	.centertext {
		margin: 3vh 0;
		font-size: 40px;
	}
	.items {
		flex-direction: column;
	}
	.face {
		width: 50vw;
		height: 50vw;
	}
	.containerForItems-active a{
		display: block;
		text-decoration: none;
		font-size: 1.6rem;
		text-align: center;
		line-height: 8vh;
		width: 100%;
		color: dimgrey;
		/*margin-right: 30px;*/
	}
	.containerForItems-active a:hover {
		opacity: 100%;
		background-color: white;
		color: black;
		transition: all .7s ease;
	}
	.menu-active {
		background: rgba(0, 0, 0, 0.91);
		position: relative;
		width: 100vw;
		margin: 0;
		justify-content: center;
	}
}